<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block child_css %}
<link rel="stylesheet" href="{% static 'upcoming/upcoming.css' %}">
<script src="{% static 'upcoming/upcoming.js' %}"></script>
     <meta charset="UTF-8">
    <title>Title</title>
{% endblock %}
{% block child_block %}
<main>
            <div class="div">
                <img src="https://res.cloudinary.com/dngn2hghx/image/upload/v1727347477/vibehere/devara/mtg30mxlyirzafpupi2d.jpg" alt="devara">
                <div class="content">
                    <h3>Devara</h3>
                <p>Cast: N.T. Rama Rao Jr. (NTR), Saif Ali Khan, Janhvi Kapoor
                    Director: Koratala Siva
                    Music: Anirudh Ravichander
                    
                    Storyline: Devara is a high-octane action drama with NTR playing a fierce and determined character who stands up against societal injustice. The film has a strong undercurrent of revenge and political upheaval. Janhvi Kapoor makes her Telugu debut, while Saif Ali Khan plays the antagonist. The movie blends action sequences with an emotional family plot, revolving around NTR's character's battle to protect his loved ones and his village from a corrupt regime.
                </p>
                </div>
            </div>
            <div class="div">
                <img src="https://res.cloudinary.com/dngn2hghx/image/upload/v1727347477/vibehere/devara/mtg30mxlyirzafpupi2d.jpg" alt="devara">
                <div class="content">
                    <h3>Devara</h3>
                <p>Cast: N.T. Rama Rao Jr. (NTR), Saif Ali Khan, Janhvi Kapoor
                    Director: Koratala Siva
                    Music: Anirudh Ravichander
                    
                    Storyline: Devara is a high-octane action drama with NTR playing a fierce and determined character who stands up against societal injustice. The film has a strong undercurrent of revenge and political upheaval. Janhvi Kapoor makes her Telugu debut, while Saif Ali Khan plays the antagonist. The movie blends action sequences with an emotional family plot, revolving around NTR's character's battle to protect his loved ones and his village from a corrupt regime.
                </p>
                </div>
            </div>
            <div class="div">
                <img src="https://res.cloudinary.com/dngn2hghx/image/upload/v1727347477/vibehere/devara/mtg30mxlyirzafpupi2d.jpg" alt="devara">
                <div class="content">
                    <h3>Devara</h3>
                <p>Cast: N.T. Rama Rao Jr. (NTR), Saif Ali Khan, Janhvi Kapoor
                    Director: Koratala Siva
                    Music: Anirudh Ravichander
                    
                    Storyline: Devara is a high-octane action drama with NTR playing a fierce and determined character who stands up against societal injustice. The film has a strong undercurrent of revenge and political upheaval. Janhvi Kapoor makes her Telugu debut, while Saif Ali Khan plays the antagonist. The movie blends action sequences with an emotional family plot, revolving around NTR's character's battle to protect his loved ones and his village from a corrupt regime.
                </p>
                </div>
            </div>
            <div class="div">
                <img src="https://res.cloudinary.com/dngn2hghx/image/upload/v1727347477/vibehere/devara/mtg30mxlyirzafpupi2d.jpg" alt="devara">
                <div class="content">
                    <h3>Devara</h3>
                <p>Cast: N.T. Rama Rao Jr. (NTR), Saif Ali Khan, Janhvi Kapoor
                    Director: Koratala Siva
                    Music: Anirudh Ravichander
                    
                    Storyline: Devara is a high-octane action drama with NTR playing a fierce and determined character who stands up against societal injustice. The film has a strong undercurrent of revenge and political upheaval. Janhvi Kapoor makes her Telugu debut, while Saif Ali Khan plays the antagonist. The movie blends action sequences with an emotional family plot, revolving around NTR's character's battle to protect his loved ones and his village from a corrupt regime.
                </p>
                </div>
            </div>
        </main>
{% endblock %}